.name {
    font-size: 20px;
    font-weight: 500;
}

.header {
    border-bottom: 1px solid #ddd;
    /*  background-color: #272422; */
    padding: 10px 0;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    max-width: 90px;
    display: inline-block;
}

.header .gnb>ul {
    display: flex;
    gap: 40px;
    /*     color: #ddd; */
}

.header .link {
    display: flex;
    gap: 30px;
    font-size: 23px;
}

.header .link p {
    border: 1px solid red;
    font-size: 20px;
}

/* --------------------------- */

.main_visua {
    position: relative;
}

.main_visual .main_slide .itm {
    height: 750px;
    max-width: 100%;
}

.main_visual .main_slide .itm01 {
    background: url(./images/MAIN1-scaled.jpg) no-repeat center center/cover;

}

.main_visual .main_slide .itm02 {
    background: url(./images/MAIN2.jpg) no-repeat center center/cover;
}

.main_visual .main_slide .dots {
    position: absolute;
    top: 0;

}

/* -------------------------- */

.post_list {
    background: #ddcdbe url(./images/main_bg_store.jpg) no-repeat right;
}

.post_list .post_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 200px;

}

.post_list .post_wrap .name {
    padding: 30px 0 0 0;
}

.post_list .post_wrap .list_txt {
    position: relative;
}

.post_list .post_wrap .list_txt h2 {
    margin: 0 0 20px 0;

}

.post_list .post_wrap .list_txt li {
    font-size: 17px;
    line-height: 25px;
}

.post_list .post_wrap .list_txt a {
    position: absolute;
    bottom: 30px;
    right: 50px;
}

.post_list .post_wrap .list_img {
    position: relative;
    margin: 0 0 20px 20px;
}

.post_list .post_wrap .list_img p {
    margin: 20px 0 0 0;
}

.post_list .post_wrap .list_img a {
    position: absolute;
    bottom: 10px;
    background: orange;
    padding: 10px 15px;
}

/* ------------------------------------ */

.main_menu {
    padding: 80px 0;
}

.main_menu .title {
    text-align: center;
    margin: 0 0 50px 0;
}

.main_menu .title h2 {
    color: #19140F;
    font-size: 54px;
    font-weight: 500;
    line-height: 72px;
}

.main_menu .menu_wrap {}

.main_menu .img_box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.main_menu .img_box .bg img {
    background: #EDECEA;
}

/* --------------------------------------- */

.main_game {
    background: #2E2D35;
}

.main_game .game_slide {}

.main_game .game_slide .box {
    height: 300px;
    width: 1200px;
    margin: 40px 0 0 0;
}

.main_game .game_slide .box h3 {
    margin: 20px 0;
    font-size: 60px;
    color: #dcba94;
}

.main_game .game_slide .box strong {
    font-size: 30px;
    color: #dcba94;
}

.main_game .game_slide tr>td {
    border: 1px solid #ddd;
    color: #ddd;
    padding: 10px 10px;
}

.main_game .game_slide .box01 {
    background: url(./images/131313.png) no-repeat right center;
}

.main_game .game_slide .box02 {
    background: url(./images/1231311.png) no-repeat right center;
}

/* --------------------------------- */

.main_store {
    position: relative;
    background: url(./images/main.png);
    height: 500px;
}

.main_store .txt_box {
    position: absolute;
    font-size: 30px;
    transform: translate(160%, 50%);
}

/* -------------------------------- */

.footer {
    background: #272422;
    padding: 50px 0;
    color: #ddd;
}

.footer .logo {
    max-width: 140px;
}

.ft_wrap {
    display: flex;
    justify-content: space-between;
}